.upload-root {
    border: 5px solid rgb(129, 224, 255);
    width: 100%;
    height: 100%;
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-hint-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-hint {
    font-size: 18px;
}

.image-preview {
    align-self: center;
    width: 99%;
}

.upload-consent {
    align-self: flex-end;
    justify-self: flex-start;
    position: absolute;
    font-size: 12px;
    display: flex;
    column-gap: 6px;
}